**/build/
**/work/
**/__pycache__
**/.*/
**/main.py
**/*.wav
**/*.str
venv/
**/*.svf
**/*.log
**/output.txt
**/powerflow/reports/
**/powerflow/src/
**/powerflow/scripts/*.csv
**/powerflow/scripts/*.out
**/powerflow/scripts/*.png
**/powerflow/scripts/*.txt
sim/scripts/vsim.wlf
sim/scripts/transcript
sim/scripts/modelsim.ini
sim/scripts/adam_ps.vcd
rtl/instr_rom.sv
**/software_lpmem
transcript
vsim
libs/common_cells
misc/
*.repC
*.ini
*.csv
*.bmp
*.ipynb
*.hex
*.jou
*.wlf
jtag_*.cfg
